/* Reset and unify background */
html, body, #root, .app-container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  /* Prevent extra scrollbars */
  body {
    overflow-x: hidden;
  }
  