@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Outfit:wght@100..900&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'StrangerThings';
  src: url('./assets/fonts/Stranger-Things-Outlined.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  background: #222222;
}

:root {
  --font-merriweather: "Merriweather", sans-serif;
  --font-alata: "Alata", sans-serif;
  --font-spline-mono: "Spline Sans Mono", monospace;
  --font-albert-sans: "Albert Sans", sans-serif;
  --font-sofia-sans-extra-condensed: "Sofia Sans Extra Condensed", sans-serif;
  --font-stranger-things: "StrangerThings", sans-serif;
  --redColor: #FF0505;
}

.merriweather {
  font-family: var(--font-merriweather);
}

.alata {
  font-family: var(--font-alata);
}

.spline-mono {
  font-family: var(--font-spline-mono);
}

.albert-sans {
  font-family: var(--font-albert-sans);
}

.sofia-sans-extra-condensed {
  font-family: var(--font-sofia-sans-extra-condensed);
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.stranger-things {
  font-family: "StrangerThings", sans-serif;
}

.font-red {
  color: var(--redColor);
}

.background-red {
  background-color: var(--redColor);
}

.background-dark {
  background-color: #222222;
}

.text-stroke {
  -webkit-text-stroke: 0.5px var(--redColor);
  letter-spacing: 0.05em;
}

@media (min-width: 768px) {
  .text-stroke {
    -webkit-text-stroke: 3px var(--redColor);
  }
}

.logo-card {
  @apply w-[180px] h-[70px] bg-black text-white flex justify-center items-center text-xl font-semibold rounded-md;
}


.neon-glow {
  text-shadow: 0 0 5px #FF0505, 0 0 10px #FF0505, 0 0 20px #FF0505;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--redColor);
}